# AsterPI Production Environment

# 镜像版本
ASTERPI_IMAGE_TAG=latest
DOCS_IMAGE_TAG=latest

# 服务端口
ASTERPI_PORT=3000
DOCS_PORT=8080

# CNB 镜像仓库地址
ASTERPI_IMAGE=docker.cnb.cool/igipme/asterpi/asterpi
DOCS_IMAGE=docker.cnb.cool/igipme/asterpi/docs